@import url("https://fonts.google.com/specimen/Nunito+Sans");

*{
    margin: 0;
    padding : 0;
    box-sizing:border-box;
}
body{
    width:100%;
    min-height:100vh;
    background-color: hsl(0, 0%, 98%);
    font-family: "Nunito Sans",sans-serif;
}
#container{
    width:100%;
    padding:30px;
  
}
/* header */
.header{
    width:100%;
    padding:20px;
    display:flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
button{
    outline: none;
    border:0;
    background: transparent;
}
.toggle{
    font-size: 18px;
    cursor: pointer;
}
.toggle i{
    padding-right:10px;
}
/* middle */
.middle{
    width:100%;
    padding:30px;
    display:flex;
    justify-content: space-between;
}
/* search */
.search{
    width:400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    position: relative;
    /* background-color: aqua; */
    border-radius: 5px;
    overflow: hidden;
}
.search input{
    width:100%;
    padding:10px 12px;
    outline: 0;
    border:0;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.search i{
    position: absolute;
    top:0.8rem;
    right:1rem;
    cursor: pointer;
}
/* dropdown */
.dropdownCon{
    width:200px;
    position: relative;
}
.dropdown{
    width:100%;
    padding:14px 10px;
    /* background-color: aqua; */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    display:flex;
    justify-content:space-between;
    cursor:pointer;
    font-size: 15px;
}
.dropdown p{
    letter-spacing: 0.5px;
}
.drop{
    width:100%;
    position: absolute;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    top:3.5rem;
    padding:10px 14px;
    border-radius: 5px;
    background-color: aliceblue;
}
.drop p{
 margin:5px 0;
 
}

/* main */

.main{
    padding:30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    grid-gap: 15px;
}
.country{
    min-height: 270px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    width:270px;
    border-radius: 5px;
    overflow: hidden;
}
.country-img{
    height:250px;

}
.country-img img{
    width:100%;
    height:100%;
}
.country-info{
  padding:22px 18px;
}
.country-info h5{
    padding:10px 0;
    font-size:20px;
    letter-spacing: 1px;
}
.country-info p{
    letter-spacing: 1px;
}
.country-info p>strong{
    font-weight: 600;
}